settings set prompt "(ckifalo) "
settings set target.x86-disassembly-flavor intel
script print "\033[0;33m"
script print "      ___            ___            ___            ___          ___                             ___      "
script print "     /\__\          /|  |          /\__\          /\__\        /\  \      ___                  /\  \     "
script print "    /:/  /         |:|  |         /:/  /         /:/ _/_      /::\  \    /\  \                /::\  \    "
script print "   /:/  /          |:|  |        /:/__/         /:/ /\__\    /:/\:\  \   \:\  \              /:/\:\  \   "
script print "  /:/  /  ___    __|:|  |       /::\  \ ___    /:/ /:/  /   /:/ /::\  \   \:\  \     ___    /:/  \:\  \  "
script print " /:/__/  /\__\  /\ |:|__|____  /:/\:\  /\__\  /:/_/:/  /   /:/_/:/\:\__\   \:\  \   /\__\  /:/__/ \:\__\ "
script print " \:\  \ /:/  /  \:\/:::::/__/  \/_ \:\/:/  /  \:\/:/  /    \:\/:/  \/__/    \:\  \ /:/  /  \:\  \ /:/  / "
script print "  \:\  /:/  /    \::/~~/            \::/  /    \::/__/      \::/__/          \:\  /:/  /    \:\  /:/  /  "
script print "   \:\/:/  /      \:\~~\            /:/  /      \:\  \       \:\  \           \:\/:/  /      \:\/:/  /   "
script print "    \::/  /        \:\__\          /:/  /        \:\__\       \:\__\           \::/  /        \::/  /    "
script print "     \/__/          \/__/          \/__/          \/__/        \/__/            \/__/          \/__/\033[0m"
